.Hola1{
  height: 20vh;

}
.Hola2{
  height: 42vh;
  background-image: url(./utilities/images/Watercolor_green_leaves_frame_collection\(2\).jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.Hola2 img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    align-self: center;
}

.pito {
  height: 34vh;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to right, #363634, #ffc400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.pito::before{
  content: 'dsadasdasddddddddddddddddddssssssssssssss';
  background-image: url(./utilities/images/flowes.jpg);
  background-size: cover;
  height: 10rem;
  width: auto;
  z-index: -1;
  position: absolute;
  opacity: 0.5;

}

.gradientText{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to right, #363634, #ffc400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



