.Hola1{
  height: 25vh;
}

.flower{
  position: absolute;
  height: 10rem;
  width: 99%;
}

.bautismo {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(to right, #363634, #ffc400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  margin: 0;
}

.Tadeo{
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to right, #363634, #ffc400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.texto{
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 2rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #363634, #ffc400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.Hola2{
  height: 42vh;
  background-image: url(./utilities/images/Watercolor_green_leaves_frame_collection\(2\).jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.Hola2 img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    align-self: center;
}

.pito {
  height: 38vh;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to right, #363634, #ffc400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.pito::before{
  content: 'dsadasdasddddddddddddddddddssssssssssssss';
  background-image: url(./utilities/images/flowes.jpg);
  background-size: cover;
  height: 10rem;
  width: auto;
  z-index: -1;
  position: absolute;
  opacity: 0.5;

}

.gradientText{
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(to right, #363634, #ffc400);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.papis{
  color: rgb(112, 110, 110);
  font-size: 1rem;
}
.misPapis{
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  color: #bba14b;
}

